<div id="<%= dom_id sale %>">
  <p>
    <strong>Quantity:</strong>
    <%= sale.quantity %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= sale.total %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= sale.product_id %>
  </p>

</div>
